html, body {
<<<<<<< HEAD
    background-color: #42f492;
    color: #000711;
    font-family: 'Lato', sans-serif;
=======
    background-color: #3175e2;
    color: #000711;
    font-family: 'Raleway', sans-serif;
>>>>>>> 70f932f42bdc72a47746eadc50ab34f20070a39c
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

a {
    color: white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
